<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3 forgot-password-container" [hidden]="isValidUserForm || isUpdateNewPassword">
      <form [formGroup]="forgotPassowrdForm">
       
        <div class="col-12 form-group">
          <span class="p-input-icon-left" style="display: block;">
            <i class="fa fa-envelope"></i>
            <input type="email" pInputText id="emailId" name="emailId" formControlName="emailId" class="form-control" placeholder="Enter registered mail"         
            [ngClass]="{'is-invalid': forgotPassowrdForm.get('emailId').errors && (forgotPassowrdForm.get('emailId').touched || forgotPassowrdForm.get('emailId').dirty)}">
          </span>
         </div>
          <div class="small-text-error" *ngIf="forgotPassowrdForm.get('emailId').errors && (forgotPassowrdForm.get('emailId').touched || forgotPassowrdForm.get('emailId').dirty)">
            <div *ngIf="forgotPassowrdForm.get('emailId').errors.required">Email Id is required</div>
            <div *ngIf="forgotPassowrdForm.get('emailId').errors.email">Invalid email Id</div>
          </div>
        <div class="col-12 form-group">
          <button class="btn btn-danger btn-block" [disabled]="!mailFormValid()" (click)="onSubmit()">Submit</button>
        </div>
        <div class="col-12 forgot-text">
          Please check your registered Email to Change Password
        </div>
      </form>
    </div>
    <div class="col-6 offset-md-3 forgot-password-container" [hidden]="!isValidUserForm && !isHideForm">
      <form [formGroup]="validUserForm">
        <div class="col-12 form-group">
          <span class="p-input-icon-left" style="display: block;">
            <i class="pi pi-key"></i>
            <input formControlName="privateKey" type="text" class="form-control" pInputText placeholder="Private Key"
            [ngClass]="{'is-invalid': validUserForm.get('privateKey').errors && (validUserForm.get('privateKey').touched || validUserForm.get('privateKey').dirty)}">
          </span>
        </div>
        <div class="col-12 form-group">
          <span class="p-input-icon-left" style="display: block;">
            <i class="fa fa-envelope"></i>
            <input type="email" pInputText id="verifiedEmailId" name="verifiedEmailId" formControlName="verifiedEmailId" class="form-control" placeholder="Enter registered mail"         
            [ngClass]="{'is-invalid': validUserForm.get('verifiedEmailId').errors && (validUserForm.get('verifiedEmailId').touched || validUserForm.get('verifiedEmailId').dirty)}">
          </span>
        </div>
          <div class="small-text-error" *ngIf="validUserForm.get('verifiedEmailId').errors && (validUserForm.get('verifiedEmailId').touched || validUserForm.get('verifiedEmailId').dirty)">
            <div *ngIf="validUserForm.get('verifiedEmailId').errors.required">Email Id is required</div>
            <div *ngIf="validUserForm.get('verifiedEmailId').errors.email">Invalid email Id</div>
          </div>
        <div class="col-12 form-group">
          <button class="btn btn-danger btn-block" [disabled]="!formValid()" (click)="submitSecureKey()">Submit</button>
        </div>
      </form>
    </div>
    <p-toast></p-toast>
    <!-- New password form code starts here -->
    <div class="col-6 offset-md-3 forgot-password-container" [hidden]="!isUpdateNewPassword">
      <form [formGroup]="updateNewPasswordForm">
        <div class="col-12 form-group">
          <span class="p-input-icon-left" style="display: block;">
            <i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" formControlName="NewPassword" pInputText placeholder="Enter New Password" class="form-control p-inputtext-lg"
            [ngClass]="{'is-invalid': updateNewPasswordForm.get('NewPassword').errors && (updateNewPasswordForm.get('NewPassword').touched || updateNewPasswordForm.get('NewPassword').dirty)}"/>
            <div class="small-text-error" *ngIf="updateNewPasswordForm.get('NewPassword').errors && (updateNewPasswordForm.get('NewPassword').touched || updateNewPasswordForm.get('NewPassword').dirty)">
              <div *ngIf="updateNewPasswordForm.get('NewPassword').errors.required">Password is required</div>
            </div>

          </span>
        </div>
        <div class="col-12 form-group">
          <button class="btn btn-danger btn-block" [disabled]="!updatePasswordFormValid()" (click)="updateNewPassword()">Submit</button>
        </div>
      </form>
    </div>
    <!-- New password form code ends here -->
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

