.forgot-password-container {
  background-color: #ffff;
  padding: 25px;
  margin-top: 20px;
  border-radius: 10px;
}

.envelope-addon-icon {
  border: 1px solid #dfe4ea;
  padding: 10px;
  border-right: none;
  display: flex;
}

.forgot-text {
  font-size: 12px;
  color: red;
  text-align: center;
}

.small-text-error {
  font-size: 13px;
  color: red;
  top: 5.3em;
  left: 3em;
  position: absolute;
}
