    <div>
      <!-- Page Header-->
      <header class="section page-header page-header-1 context-dark">
        <!--<a href="index.html" id="hometab" class="fa fa-home"></a>-->
        <div class="page-header-1-figure m-parallax">
          <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-3.jpg);"></div>
        </div>
        <section class="breadcrumbs-custom">
          <div class="breadcrumbs-custom-inner">
            <div class="container">
              <div class="breadcrumbs-custom-main m-parallax-content">
                <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                  <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
                </svg>
                <h2 class="breadcrumbs-custom-title text-uppercase">Why Cap</h2>
                
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Basic Info-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-center">
            <div class="col-md-10 col-lg-8">
              <p class="p-text-align">College Admission Plan (CAP) is meant for students with their eyes set on increasing the SAT/ACT scores using a completely holistic approach. We assist our students to receive admission into the coveted Ivy League colleges. And, that’s no small feat!</p>
            </div>
            <div class="col-md-10 col-lg-4 position-relative">
              <div class="post-classic-figure"><img class="post-classic-image" src="../../../../assets/home/images/single-tour-11-355x359.jpg" alt=""/>
              </div>
            </div>
            
            <div class="col-md-12">
              <h3 class="title-costume block-1">How do we do it?</h3>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Experienced Tutors</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Updated Methodologies</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>The CAP Difference</p>
            </div>
            <div class="col-md-12">
              <h3 class="title-costume block-2">Highly Experienced Professionals</h3>
              <p class="p-text-align">CAP believes in picking the highest achievers as instructors who provide excellent winning strategies to every student enrolled. Counselors (former Directors and Deans) with high SAT scores are responsible for the careful construction of the teaching materials. Experts reveal strategies and skills to equip students for a bright future.</p>
            </div>
            <div class="col-md-12">
              <h3 class="title-costume block-2">Effective and Updated Methodologies</h3>
              <p class="p-text-align">Our online training sessions are comprehensive with complete attention-to-detail to every minor requirement. This is not only about high test scores. This is about empowering students to connect with their best selves giving them the confidence to overcome every challenge. We adopt a holistic approach and our pieces of training are constantly updated as per the changing scenarios. So, our students are equipped with the latest for their prep.</p>
            </div>
            <div class="col-md-12">
              <h3 class="title-costume block-2">Personalized Attention for Students</h3>
              <p class="p-text-align">We treat every student at CAP in a unique manner. Our expert tutors understand the need to communicate on levels best suited to a student’s learning capabilities. So, parents can be rest assured as every student receives equal benefits from CAP. Personalized feedback and quick response to queries are just some of the many reasons why students love CAP. They are trained academically and holistically making them resilient to future challenges.</p>
            </div>
            <div class="col-md-12">
              <h3 class="title-costume block-2">And, after all, it’s the CAP experience...</h3>
              <p class="p-text-align">It’s the CAP guarantee that lends an increase to your SAT/ACT score by at least 160+ points or by 150+ ACT points to get students into the best-fit graduate program. We believe in empowering students to believe in themselves and use their skills to the highest potential. CAP focuses on unmatched tutoring, counseling, and gives all the support throughout this demanding phase for students. In 2017, XX% of students received acceptance letters to their chosen schools. Need we say more?</p>
              <p><a href="">Connect</a> with a CAP Counselor now! Ask for our 30-Day free trial.</p>
            </div>
            <div class="col-md-8">
              <h3 class="title-costume block-2">All this and much more:</h3>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Get quick access to test papers of the previous year - 24X7 and 365 days</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Learn at your own pace</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Expert assistance round-the-clock</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Personalized guidance</p>
              <p class="p-text-align"><i class="fa fa-plus-square icon-plus" aria-hidden="true"></i>Easy connect via web, email, or phone throughout training sessions</p>
            </div>
            <div class="col-md-4">
              <div class="post-classic-figure"><img class="post-classic-image" src="../../../../assets/home/images/tour-list-2-2-365x248.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
