.tutor-image {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/SAT-Tutor1.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image2 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor2.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image3 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor3.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image4 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor4.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image5 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor5.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image6 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor6.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image7 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor7.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .tutor-image8 {
    width: 100%;
    height: 215px;
    background-image: url('../../../../../../assets/images/tutor8.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  .box-shadow {
    border-radius: 12px;
    border: solid 0.5px #e0dee9;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 35px;
  }
  
  .tutor-label {
    font-size: 32px;
    font-weight: 300;
  }
  
  .seperator-line {
    border-bottom: 1px solid #bdc3c7;
    margin-bottom: 15px;
  }
  
  .education-label {
    font-size: 18px;
    font-weight: 400;
  }
  
  .department-label {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .check-mark-label {
    color: #3498db;
    margin-right: 5px;
  }
  