<div class="row">
  <div class="col-10 offset-md-1">
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Kyle: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>University of Colorado Denver</a>  - Bachelor of Science, Biology & Psychology</div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- tutor 2 code start here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image2"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Will: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Villanova University</a> - Bachelor in Arts, Humanities & Political Science</div>
            <div class="col-12 department-label"> <a>Northwestern University</a> - Juris Doctor, Law</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 2 code ends here -->
    
    <!-- tutor 3 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image3"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Max: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>University of Illinois at Chicago</a> - Current Undergrad, Biological Sciences</div>
            <div class="col-12 department-label"> <a>Northwestern University</a> - Juris Doctor, Law</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 3 code ends here -->
    
    <!-- tutor 4 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image4"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Lee: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Northwestern University</a> - Bachelor of Science, Biomedical Engineering</div>
            <div class="col-12 department-label"> <a>Northwestern University</a> - Master of Science, Biomedical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 4 code ends here -->
    
    <!-- tutor 5 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image5"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Quinn: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Washington University in St Louis</a> - Bachelor of Science, Biomedical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 5 code ends here -->
    
    <!-- tutor 6 code stars here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image6"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Ben: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>George Washington University</a> - Bachelor in Arts, Psychology</div>
            <div class="col-12 department-label"> <a>Roosevelt University</a> - Bachelor in Arts, Psychology</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 6 code ends here -->
    
    <!-- Tutor 7 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image7"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Justin: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>New York University</a> - Bachelors, Film & Television</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 7 code ends here -->
    
    <!-- Tutor 8 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image8"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Don: SAT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified SAT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Dordt College</a> - Bachelors, English</div>
            <div class="col-12 department-label"> <a>Concordia University-Saint Paul</a> - Masters, Education</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 8 code ends here -->
    
  </div>
</div>