<div>
  <!-- Page Header-->
  <header class="section page-header page-header-1 context-dark">
    <div class="page-header-1-figure m-parallax">
      <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-11.jpg);"></div>
    </div>
    <section class="breadcrumbs-custom">
      <div class="breadcrumbs-custom-inner">
        <div class="container">
          <div class="breadcrumbs-custom-main m-parallax-content">
            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
              <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
            </svg>
            <h2 class="breadcrumbs-custom-title text-uppercase">Privacy Policy</h2>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- Privacy Policy-->
  <section class="section section-lg bg-default">
    <div class="container">
      <!-- Terms list-->
      <dl class="list-terms">
        <!-- <dt class="heading-5">General information</dt> -->
        <dd>The above privacy policy informs the users about the prevalent privacy policy being practiced and implemented on the CAP website. The privacy policy seeks to inform the users about the existing policies in relation to the information being stored and used by the website.</dd>
        <dd class="dd-padding">You also accept the privacy policy in general if you are visiting the website and availing the website services.</dd>
        <dd class="dd-padding">The privacy policy of CAP talks and addresses the following concerns of the users on the website:
          <ul class="dd-padding">
            <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>What type of information is collected, usage and shared with whom.</li>
            <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>Data misuse concerns</li>
            <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>Contacting the website in-case of any queries regarding to the data privacy.</li>
          </ul>
        </dd>
        <dd class="dd-padding">By accessing the website and availing of its services, you agree with the websites terms and conditions. If you do not agree to the privacy policy norms, please don’t visit the website.</dd>
        <dd class="dd-padding">At CAP, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by CAP and how we use it.</dd>
        <dt class="heading-5">Data We collect</dt>
        <dd class="dd-sub-heading">Log files</dd>
        <dd>CAP follows a standard procedure of using log files. These files log visitors when they visit CAP. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the CAP, and gathering demographic information.</dd>
        <dd class="dd-padding dd-sub-heading">Cookies and Web Beacons</dd>
        <dd >CAP follows a standard procedure of using log files. These files log visitors when they visit CAP. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the CAP, and gathering demographic information.</dd>
        <dd class="dd-padding dd-sub-heading">DoubleClick DART Cookie</dd>
        <dd>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.CAP.CENTER and other sites on the internet.</dd>
        <dd class="dd-padding">However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></dd>
        <dd class="dd-padding">Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</dd>
        <dd class="dd-padding dd-sub-heading">Google</dd>
        <dd><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></dd>
        <dd class="dd-padding">Note that CAP has no access to or control over these cookies that are used by third-party advertisers.</dd>
        <dd class="dd-padding dd-sub-heading">Third Party Privacy Policies</dd>
        <dd>CAP Privacy Policy does not apply to other advertisers. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</dd>
        <dd class="dd-padding">You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective CAP. What Are Cookies?</dd>
        <dd class="dd-padding dd-sub-heading">Children's Information</dd>
        <dd>CAnother part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</dd>
        <dd class="dd-padding">CAP does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our CAP, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</dd>
        <dd class="dd-padding dd-sub-heading">California Privacy rights</dd>
        <dd>If you are a California resident, California Civil Code Section 1798.83 permits you to request information regarding the disclosure of your personal information by certain members of CAP to third parties for the third parties’ direct marketing purposes. To make such a request, please send an email to If you are a California resident, California Civil Code Section 1798.83 permits you to request information regarding the disclosure of your personal information by certain members of CAP to third parties for the third parties’ direct marketing purposes. To make such a request, please send an email to contact@cap.center with "Request for California Privacy Information" on the subject line and in the body of your message.</dd>
        <dd class="dd-padding">We believe in the ideals of trust and we are dedicated to treating your personal information with respect and care. For more information about our privacy and data collection policies, you may wish to review our Privacy Policy.</dd>
        <dd class="dd-padding dd-sub-heading">Online Privacy Policy Only</dd>
        <dd>This privacy policy applies only to our online activities and is valid for visitors to our CAP with regards to the information that they shared and/or collect in CAP. This policy is not applicable to any information collected offline or via channels other than this CAP.</dd>
        <dd class="dd-padding dd-sub-heading">Consent</dd>
        <dd>By using our CAP, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</dd>
        <dd class="dd-padding dd-sub-heading">Contact Us</dd>
        <dd>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at <a href="mailto:contact@cap.center">contact@cap.center</a> or write to us at: 21670 Ridgetop Cir, Suite 170 Sterling, VA-20166.</dd>
      </dl>
    </div>
  </section>
</div>
<div class="snackbars" id="form-output-global"></div>
