
    <div>
      <!-- Page Header-->
      <header class="section page-header page-header-1 context-dark">
        <div class="page-header-1-figure m-parallax">
          <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-8.jpg);"></div>
        </div>
        <!--<a href="index.html" id="hometab" class="fa fa-home"></a>-->
        <section class="breadcrumbs-custom">
          <div class="breadcrumbs-custom-inner">
            <div class="container">
              <div class="breadcrumbs-custom-main m-parallax-content">
                <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                  <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
                </svg>
                <h2 class="breadcrumbs-custom-title text-uppercase">Our Programs</h2>
              </div>
            </div>
          </div>
        </section>
      </header>
      <section class="section section-md bg-gray-100">
        <div class="container">
          <div class="row row-40 row-xl-50 flex-lg-row-reverse">
            <div class="col-lg-4">
              <div class="block-custom-centered">
                
                    <div class="our-prgm-enroll">
                      <div class="col-md-6 col-lg-12 enroll">
                    <a href="javascrip:void(0);" class="button button-lg button-icon button-2 button-primary">Enroll Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row row-30 row-xl-40">
                <div class="col-sm-6">
                  <article class="tour-classic">
                    <div class="tour-classic-media"><a class="tour-classic-figure" href="#"><img class="tour-classic-image" src="../../../../assets/home/images/tour-list-2-1-365x248.jpg" alt="" width="365" height="248"/></a>
                      <!-- <div class="tour-classic-pricing">
                        <p class="tour-classic-price tour-classic-price-new">$99</p>
                      </div> -->
                    </div>
                    <div class="tour-classic-body">
                      <h3 class="tour-classic-title"><a href="smart-sat.html">SMARTSAT</a></h3>
                      <div class="tour-classic-footer"><!-- <span class="mdi mdi-account-outline"></span> -->
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="tour-classic">
                    <div class="tour-classic-media"><a class="tour-classic-figure" href="#"><img class="tour-classic-image" src="../../../../assets/home/images/tour-list-2-2-365x248.jpg" alt="" width="365" height="248"/></a>
                     <!--  <div class="tour-classic-pricing">
                        <p class="tour-classic-price tour-classic-price-new">$249</p>
                      </div> -->
                    </div>
                    <div class="tour-classic-body">
                      <h3 class="tour-classic-title"><a href="cap-360.html">CAP360</a></h3>
                      <div class="tour-classic-footer"><!-- <span class="mdi mdi-account-outline"></span> -->
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="tour-classic">
                    <div class="tour-classic-media"><a class="tour-classic-figure" href="#"><img class="tour-classic-image" src="../../../../assets/home/images/tour-list-2-3-365x248.jpg" alt="" width="365" height="248"/></a>
                      
                    </div>
                    <div class="tour-classic-body">
                      <h3 class="tour-classic-title"><a href="boot-camp.html">BOOTCAMP</a></h3>
                      <div class="tour-classic-footer"><!-- <span class="mdi mdi-account-outline"></span> -->
                       
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="tour-classic">
                    <div class="tour-classic-media"><a class="tour-classic-figure" href="#"><img class="tour-classic-image" src="../../../../assets/home/images/tour-list-2-10-365x248.jpg" alt="" width="365" height="248"/></a>
                     
                    </div>
                    <div class="tour-classic-body">
                      <h3 class="tour-classic-title"><a href="#">COUNSELING</a></h3>
                      <div class="tour-classic-footer"><!-- <span class="mdi mdi-account-outline"></span> -->
                      
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
