<div class="banner1">
  <div class="banner-cpn">
    <div class="container">
      <div class="content">
        <div class="banner-text light style-modern">
          <h1 class="page-title">Why CAP</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="para">College Admission Plan (CAP) is meant for students with their eyes set on increasing the SAT/ACT scores using a completely holistic approach. We assist our students to receive admission into the coveted Ivy League colleges. And, that’s no small feat! </p>
        <h3>How do we do it? </h3>
        <ul>
          <li><i class="fa fa-graduation-cap"></i>Experienced Tutors</li>
          <li><i class="fa fa-graduation-cap"></i>Updated Methodologies </li>
          <li><i class="fa fa-graduation-cap"></i>The CAP Difference </li>
        </ul>
        <div class="blocks-img-content">
          <div class="icon"> <img src={{expImageSrc}} alt="Highly Experienced Professionals Icon" title="Highly Experienced Professionals Icon" class="img-responsive"> </div>
          <h3>Highly Experienced Professionals </h3>
          <p class="para">CAP believes in picking the highest achievers as instructors who provide excellent winning strategies to every student enrolled. Counselors (former Directors and Deans) with high SAT scores are responsible for the careful construction of the teaching materials. Experts reveal strategies and skills to equip students for a bright future.</p>
        </div>
        <div class="blocks-img-content">
          <div class="icon1"> <img src={{efectiveImageSrc}} alt="Effective and Updated Methodologies Icon" title="Effective and Updated Methodologies Icon"> </div>
          <h3>Effective and Updated Methodologies</h3>
          <p class="para">Our online training sessions are comprehensive with complete attention-to-detail to every minor requirement. This is not only about high test scores. This is about empowering students to connect with their best selves giving them the confidence to overcome every challenge. We adopt a holistic approach and our pieces of training are constantly updated as per the changing scenarios. So, our students are equipped with the latest for their prep.</p>
        </div>
        <div class="blocks-img-content">
          <div class="icon"> <img src={{personlaizedImageSrc}} alt="Personalized Attention for Students Icon" title="Personalized Attention for Students Icon"> </div>
          <h3>Personalized Attention for Students</h3>
          <p class="para">We treat every student at CAP in a unique manner. Our expert tutors understand the need to communicate on levels best suited to a student’s learning capabilities. So, parents can be rest assured as every student receives equal benefits from CAP. Personalized feedback and quick response to queries are just some of the many reasons why students love CAP. They are trained academically and holistically making them resilient to future challenges. </p>
        </div>
        <h3>And, after all, it’s the CAP experience...</h3>
        <p class="para">It’s the CAP guarantee that lends an increase to your SAT/ACT score by at least 160+ points or by 150+ ACT points to get students into the best-fit graduate program. We believe in empowering students to believe in themselves and use their skills to the highest potential. CAP focuses on unmatched tutoring, counseling, and gives all the support throughout this demanding phase for students. In 2017, XX% of students received acceptance letters to their chosen schools. Need we say more? </p>
        <p><a href="#">Connect</a> with a CAP Counselor now! Ask for our 30-Day free trial.</p>
        <h3>All this and much more:</h3>
        <ul>
          <li><i class="fa fa-graduation-cap"></i>Get quick access to test papers of the previous year - 24X7 and 365 days </li>
          <li><i class="fa fa-graduation-cap"></i>Learn at your own pace</li>
          <li><i class="fa fa-graduation-cap"></i>Expert assistance round-the-clock</li>
          <li><i class="fa fa-graduation-cap"></i>Personalized guidance</li>
          <li><i class="fa fa-graduation-cap"></i>Easy connect via web, email, or phone throughout training sessions</li>
        </ul>
        <p><em>We have an easy refund policy!</em></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
