.leadform-responsive-picture {
  background-image: url('../../../../../assets/images/instant-class-banner.jpg');
  height: auto;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -5px;
  margin-right: -15px;
  margin-top: -10px;
}

.lead-constructor__heading {
  font-weight: 300;
}

.lead-constructor__content {
  padding: 7em;
}

.lead-constructor__subheading {
  padding: 10px;
}

.online-class-contaier {
  padding: 30px;
  text-align: center;
}

.sub-header {
  font-size: 30px;
  font-weight: 300;
}

.sub-container {
  padding-left: 30px;
  padding-right: 30px;
}

.illustration-bar__blocks {
  display: flex;
}

.illustration-bar {
  text-align: center;
}

.illustration-bar__heading {
  font-weight: 300;
}

.para {
  text-align: justify;
}

.blocks-img-content {
  background: #f7f7f2;
  padding: 1.5em;
  margin: 2em 0em;
  border-radius: 0.2em;
  border: 1px solid #f1f1ed;
}

.blocks-img-content h3 {
  position: relative;
  margin: 0 0 0.6em !important;
}

.blocks-img-content:last-child {
  border-bottom: none;
}

.blocks-img-content .icon img {
  float: left;
  margin-right: 1.5em;
}

.blocks-img-content .icon1 img {
  float: right;
  margin-left: 1.5em;
}

.blocks-img-content {
  text-align: center;
}

.blocks-img-content .icon img {
  margin: 0px auto;
  bottom: 1em;
  position: relative;
  float: none;
}

.blocks-img-content .icon1 img {
  margin: 0px auto;
  bottom: 1em;
  position: relative;
  float: none;
}

.container--large {
  margin-top: 5em;
}

.inner-page .signin-block hr {
  border-top: 1px solid #d8d8d8;
}

.inner-page .signin-block p a {
  color: #49336b;
  font-size: 14px;
}

.inner-page {
  padding: 3.5em 0;
  background: #fff;
}

.inner-page .container b {
  color: #302f50;
}

.inner-page .container h3 {
  color: #49336b;
  font-size: 1.4em;
  margin: 0.8em 0;
  font-weight: normal;
}

.inner-page .container ul li {
  display: block;
}

.inner-page .container ul li i {
  margin-right: 10px;
  font-size: 14px;
}

.inner-page .right-tab {
  /*  background-color: rgb(235, 245, 242); padding: 10px 15px 15px; */
  margin-bottom: 20px;
}

.inner-page .right-tab ul li {
  border-bottom: 1px dotted #b8bdc0;
  display: block;
  margin: 0px;
  line-height: 40px;
  font-weight: bold;
  font-size: 13px;
  padding-left: 8px;
}

.inner-page .right-tab ul li:last-child {
  border-bottom: 0;
}

.inner-page .right-tab ul li a {
  color: #000;
}

.blocks-img-content {
  background: #f7f7f2;
  padding: 1.5em;
  margin: 2em 0em;
  border-radius: 0.2em;
  border: 1px solid #f1f1ed;
}

.blocks-img-content h3 {
  position: relative;
  margin: 0 0 0.6em !important;
}

.blocks-img-content:last-child {
  border-bottom: none;
}

.blocks-img-content .icon img {
  float: left;
  margin-right: 1.5em;
}

.blocks-img-content .icon1 img {
  float: right;
  margin-left: 1.5em;
}

.banner1 {
  padding: 233px 0px;
  background-color: #f3f3f3;
  background: url(../../../../../assets/images/inner-banner.jpg) center center no-repeat !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  text-align: center;
  background-size: cover !important;
}

.banner1 {
  min-height: 160px;
}

.banner-text {
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.page-title {
  font-size: 3em;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(12, 12, 12);
}

.para {
  text-align: justify;
}

p {
  font-size: 18px;
  line-height: 31px;
  color: #282828;
  margin: 0 0 15px;
}

.inner-page .container ul li {
  display: block;
}

ul li,
ol li {
  margin: 0;
  font-size: 18px;
  line-height: 33px;
  color: #282828;
}
