.report-issue-btn-container {
    margin-bottom: 15px;
}


.report-issue-header {
    font-size: 18px;
    color: #ffffff;
    background-color: #e67e22;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.label {
    font-size: 15px;
    font-weight: 500;
    color: #e74c3c;
}

.value {
    font-size: 19px;
    font-weight: normal;
}

.next-button {
    width: 150px;
}

.cancel-button {
    width: 150px;
}

.required-label {
    color: red;
}
