<div class="col-12 card-top-margin">
  <div class="row">
    <div class="col-12">
      <p-toast></p-toast>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4" style="color: #7f8c8d; font-size: 18px; font-weight: 500; display: flex; align-items: center;">
              Edit Password:
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <form [formGroup]="updatePasswordForm">
                <div class="col-12 col-md-6 form-group">
                  <label for="OldPassword">Current Password <span class="required-label">*</span> </label>
                  <input type="password" formControlName="OldPassword" placeholder="Current Password" class="form-control p-inputtext-lg"
                    [ngClass]="{ 'is-invalid': f.OldPassword.errors && (updatePasswordForm.get('OldPassword').touched || updatePasswordForm.get('OldPassword').dirty)}" />
                  <div *ngIf="f.OldPassword.errors && (updatePasswordForm.get('OldPassword').touched || updatePasswordForm.get('OldPassword').dirty)" class="invalid-feedback">
                    <div *ngIf="f.OldPassword.errors.required">Current Password is required</div>
                  </div>
                </div>

                <div class="col-12 col-md-6 form-group">
                  <label for="NewPassword">New Password <span class="required-label">*</span> </label>
                  <input type="password" formControlName="NewPassword" placeholder="Password" class="form-control p-inputtext-lg"
                    [ngClass]="{ 'is-invalid': f.NewPassword.errors && (updatePasswordForm.get('NewPassword').touched || updatePasswordForm.get('NewPassword').dirty)}" />
                  <div *ngIf="f.NewPassword.errors && (updatePasswordForm.get('NewPassword').touched || updatePasswordForm.get('NewPassword').dirty)" class="invalid-feedback">
                    <div *ngIf="f.NewPassword.errors.required">Password is required</div>
                  </div>
                  <span class="invalid-feedback"
                    *ngIf="updatePasswordForm.get('NewPassword').touched && updatePasswordForm.get('NewPassword').errors?.invalidPassword">
                    Password should have minimum 6 characters, at least 1 uppercase letter, 1 lowercase
                    letter and 1 number
                  </span>
                </div>
      
                <div class="col-12 col-md-6 form-group">
                  <label for="confirmPassword">Retype Password <span class="required-label">*</span> </label>
                  <input type="password" formControlName="confirmPassword" placeholder="Password" class="form-control p-inputtext-lg"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.errors && (updatePasswordForm.get('confirmPassword').touched || updatePasswordForm.get('confirmPassword').dirty) }" />
                  <!-- <div *ngIf="f.confirmPassword.errors && (updatePasswordForm.get('confirmPassword').touched || updatePasswordForm.get('confirmPassword').dirty)" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                  </div> -->
                  <span class="invalid-feedback"
                  *ngIf="(updatePasswordForm.get('confirmPassword').touched) && f.confirmPassword.errors?.required">
                  Confirm Password is required
              </span>
              <span class="invalid-feedback"
                  *ngIf="updatePasswordForm.get('confirmPassword').touched && f.confirmPassword.errors?.passwordMismatch">
                  Passwords doesnot match
              </span>
                </div>

                  <hr>
                  <div class="co-12 report-issue-btn-container">
                    <button class="btn btn-success" style="margin-right: 10px;color:#ffffff;" [disabled]="!formValid()" (click)="updateProfile()">Update</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

