<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-top">
      <div class="preloader-top-sun">
        <div class="preloader-top-sun-bg"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-0"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-45"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-90"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-135"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-180"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-225"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-270"></div>
        <div class="preloader-top-sun-line preloader-top-sun-line-315"></div>
      </div>
    </div>
    <div class="preloader-bottom">
      <div class="preloader-bottom-line preloader-bottom-line-lg"></div>
      <div class="preloader-bottom-line preloader-bottom-line-md"></div>
      <div class="preloader-bottom-line preloader-bottom-line-sm"></div>
      <div class="preloader-bottom-line preloader-bottom-line-xs"></div>
    </div>
  </div>
</div>
<div>
  <!-- Page Header-->
  <header class="section page-header page-header-1 context-dark">
    <div class="page-header-1-figure m-parallax">
      <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-4.jpg);"></div>
    </div>
    <section class="breadcrumbs-custom">
      <div class="breadcrumbs-custom-inner">
        <div class="container">
          <div class="breadcrumbs-custom-main m-parallax-content">
            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
              <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
            </svg>
            <h2 class="breadcrumbs-custom-title text-uppercase">FAQ'S</h2>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- Accordions-->
  <section class="section section-lg bg-default">
    <div class="container">
      <!-- Bootstrap collapse-->
      <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link" id="accordion1-card-head-lyrrypah" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-rnghjuog" aria-controls="accordion1-card-body-rnghjuog" aria-expanded="true" role="button">Where is CAP located?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse show" id="accordion1-card-body-rnghjuog" aria-labelledby="accordion1-card-head-lyrrypah" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>We are located at: 21670 Ridgetop Cir; Suite 170 , Sterling, VA-20166</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-fifqnsmy" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-cydumqwj" aria-controls="accordion1-card-body-cydumqwj" aria-expanded="false" role="button">Can I join your course from any location?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-cydumqwj" aria-labelledby="accordion1-card-head-fifqnsmy" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Yes, you can opt for our online courses. Please check the programs page.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-csmmovum" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-jfciwpie" aria-controls="accordion1-card-body-jfciwpie" aria-expanded="false" role="button">What are the ways I can make payment?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-jfciwpie" aria-labelledby="accordion1-card-head-csmmovum" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>You can easily make an online payment here. All our payments are secure and employees at the CAP do not have access to your private data. We do not store credit card details.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-xdrvgxoh" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-gqfxgqdu" aria-controls="accordion1-card-body-gqfxgqdu" aria-expanded="false" role="button">How do I know more about your counselors?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-gqfxgqdu" aria-labelledby="accordion1-card-head-xdrvgxoh" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Sure! Do call us on +571-279-0000</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Do you help students who only wish to join the IVY League schools?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>It is our endeavor to help you find a college that best fits your requirements. This can even be a college that is not a part of the Ivy League.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">How can I contact your counselor?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Please call us on this number:+571-279-0000</p>
              <p>Alternatively, you can fill our contact form and we will get in touch with you.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Can you provide some testimonials?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Do check our testimonials on the homepage. For privacy reasons, we cannot share personal numbers with you. You can definitely visit the CAP for details.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">How is CAP different from other centers?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>CAP is indeed different in its approach. We combine human efforts with the latest technologies to build courses that are premium, updated and get the best results for our students. Click here to know more.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">What are the details I need to know about the 30-Day full refund trial?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>We understand your concerns. CAP offers a full 30-Day refund if you are unhappy for some reasons. It is our endeavor to ensure trust and transparency at all levels.</p>
              <p class="dd-sub-heading">The procedure:</p>
              <ul class="dd-padding">
                <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>Write to us at contact@cap.center</li>
                <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>Specify your reasons</li>
                <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>Allow us 15 business working days to respond.</li>
                <li><i class="side-arrow-priv fa fa-arrow-circle-o-right" aria-hidden="true"></i>If we determine your reasons are valid, your amount will be reimbursed online to the account details as provided by you via email.</li>
              </ul>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">What are the benefits of BOOT CAMP?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>These are 5-day high energy level sessions with counselors and industry experts that boosts confidence levels and much more in students. Students receive an evaluation, advice on tutorials, effective roadmaps to their most preferred colleges, and much more. Click to learn more about BOOT CAMP.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Will I get an essay writing service along with the programs package?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Yes, of course! Essay writing is an important part of SAT/ACT preparation. Our Programs are designed inclusive of essay writing skills. Kindly click here to know more.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Will my child secure a guaranteed increase in score?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>CAP programs are designed to work for you. We guarantee you’ll see at least an increase of 150+ points in your final SAT/ACT score by the end of your 40-month course. However, a student needs to completely attend all classes, complete assigned tasks, and tests and also put in all efforts required to learn from the lessons taught.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Who will my instructor be?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>We work with SAT/ACT experts who have had high scores themselves at the same level. If you’ve opted for a specific subject, your teacher will be an expert in the chosen field. Our teachers specialize in many areas and will be committed to seeing your progress for your SAT/ACT prep.</p>
            </div>
          </div>
        </article>
        <!-- Bootstrap card-->
        <article class="card card-custom card-corporate">
          <div class="card-header" role="tab">
            <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-qwffruxs" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-lwvjrmsq" aria-controls="accordion1-card-body-lwvjrmsq" aria-expanded="false" role="button">Does a student receive personalized attention?
                <div class="card-arrow"></div></a></div>
          </div>
          <div class="collapse" id="accordion1-card-body-lwvjrmsq" aria-labelledby="accordion1-card-head-qwffruxs" data-parent="#accordion1" role="tabpanel">
            <div class="card-body">
              <p>Yes, all our programs are designed to include personal attention to each of our students. We provide assistance to work on areas of improvement via phone, email, or video chat. View our programs here.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
<div class="snackbars" id="form-output-global"></div>
