<div class="banner1">
  <div class="banner-cpn">
    <div class="container">
      <div class="content">
        <div class="banner-text light style-modern">
          <h1 class="page-title">Who we are</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <h3>Who we are</h3>
        <p class="para">We are a dedicated team of SAT/ACT experts who have grouped together with a common mission - to help aspiring students score high to land into their dream college. We lay a sound foundation for our students’ success. We continue our endeavor to offer effective courses at the most affordable prices.</p>
        <p class="para">College Admission Plan (CAP) Center is driven by innovation with a team of highly skills experts. CAP has already begun to help students achieve the highest in all spheres of life to turn them into all-rounded professionals. The tutors at CAP are top SAT/ACT achievers with a vision to make CAP the numero uno destination for the Ivy League dream.</p>
        <div class="w3-panel w3-note"> <em>We Shape Your dreams to turn them into a reality by giving fight to your wings.</em> </div>
        <h3>Guaranteed Results</h3>
        <p class="para">CAP Center programs include standardized tests with diagnostic exams to gauge a student’s areas of improvement. Our customized approach with an individual assessment helps tutors understand which level of assistance is required. </p>
        <h3>CAP Center has produced proven results</h3>
        <h4>Experts at CAP</h4>
        <p class="para">Our tutors are expert SAT/ACT achievers who bring the most relevant and updated courses to their audience. </p>
        <h4>Here’s what parents have to say</h4>
        <br/>
        <blockquote><i>“Thanks to CAP center, my son was able to score XX SAT points. He soon landed his acceptance letter to his dream college. All this, without any added stress!" </i>- XXXX, parent of XXXX</blockquote>
        <h3>View our Programs</h3>
        <p>Questions? <a>"> Click here </a> to write to us. We do have a refund policy in place. </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 cap-services">
        <h3><span class="cap-program">CAP PROGRAMS</span></h3>
        <ul>
          <li><a><i class="fa fa-hand-o-right"></i> Freshman Program</a></li>
          <li><a><i class="fa fa-hand-o-right"></i> Sophomore Program </a></li>
          <li><a><i class="fa fa-hand-o-right"></i> Junior Program </a></li>
          <li><a><i class="fa fa-hand-o-right"></i> Senior Program </a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
