      <!-- Page Header-->
      <header class="section page-header page-header-1 context-dark">
        <!--<a href="index.html" id="hometab" class="fa fa-home"></a>-->
        <div class="page-header-1-figure m-parallax">
          <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-3.jpg);"></div>
        </div>
        <section class="breadcrumbs-custom">
          <div class="breadcrumbs-custom-inner">
            <div class="container">
              <div class="breadcrumbs-custom-main m-parallax-content">
                <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                  <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
                </svg>
                <h2 class="breadcrumbs-custom-title text-uppercase">Who we are</h2>
               
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Basic Info-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-center">
            <div class="col-md-10 col-lg-7">
              <div class="row">
                <div class="col-md-12">
                   <h3 class="title-costume block-1">Who we are</h3>
                  <p class="p-text-align">We are a dedicated team of SAT/ACT experts who have grouped together with a common mission - to help aspiring students score high to land into their dream college. We lay a sound foundation for our students’ success. We continue our endeavor to offer effective courses at the most affordable prices.</p>
                  <p class="p-text-align">College Admission Plan (CAP) is driven by innovation with a team of highly skills experts. CAP has already begun to help students achieve the highest in all spheres of life to turn them into all-rounded professionals. The tutors at CAP are top SAT/ACT achievers with a vision to make CAP the numero uno destination for the Ivy League dream.</p>
                  <p class="p-text-align"><i>We Shape Your dreams to turn them into a reality by giving fight to your wings.</i></p>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-5 position-relative">
              <div class="post-classic-figure"><img class="post-classic-image" src="../../../../assets/home/images/blog-post-4-new-original.jpg" alt=""/>
              </div>
            </div>
            
            <div class="col-md-12">
              <h3 class="title-costume block-1">Guaranteed Results</h3>
              <p><strong class="strong-color">Experts at CAP</strong></p>
              <p class="p-text-align">Our tutors are expert SAT/ACT achievers who bring the most relevant and updated courses to their audience.</p>
            </div>
            <!-- <div class="col-md-12">
              <p class="p-text-align para-bg">“Thanks to CAP, my son was able to score XX SAT points. He soon landed his acceptance letter to his dream college. All this, without any added stress!" - XXXX, parent of XXXX</p>
            </div> -->
            <div class="col-md-12">
              <h3 class="title-costume block-1">View our Programs</h3>
              <!-- <p class="p-text-align">Questions? <a href="">Click here</a> to write to us. We do have a refund policy in place.</p> -->
            </div>
          </div>
        </div>
      </section>
    <div class="snackbars" id="form-output-global"></div>