<div class="row">
  <div class="col-10 offset-md-1">
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Kate: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Cornell University</a> - Bachelors, Psychology</div>
            <div class="col-12 department-label"> <a>Brown University</a>  - Masters, Urban Education Policy</div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- tutor 2 code start here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image2"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Nikki: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Eastern Michigan University</a> - Current Undergrad, Mechanical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 2 code ends here -->
    
    <!-- tutor 3 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image3"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Oliver: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>University of Colorado Boulder</a> - Bachelors, Biochemistry and Molecular, Cellular, & Developmental Biology</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 3 code ends here -->
    
    <!-- tutor 4 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image4"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Shin: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Columbia University in the City of New York</a> - Bachelor of Science, Earth and Environmental Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 4 code ends here -->
    
    <!-- tutor 5 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image5"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Shua-Kym: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Swarthmore College</a> - Bachelors, Economics</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 5 code ends here -->
    
    <!-- tutor 6 code stars here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image6"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  William: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Vanderbilt University</a> - Current Undergrad, Biomedical Engineering + Chemical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 6 code ends here -->
    
    <!-- Tutor 7 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image7"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Deisha: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>California State University-Sacramento</a> - Bachelors, Social Work</div>
            <div class="col-12 department-label"> <a>University of Southern California</a> - Current Grad Student, Social Work</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 7 code ends here -->
    
    <!-- Tutor 8 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image8"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Alex: AP tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified AP Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Cornell University</a> - Bachelor in Arts, Statistics & Economics</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 8 code ends here -->
  </div>
</div>
