<div class="row">
  <div class="col-10 offset-md-1">
    
    <!-- tutor 3 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image3"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Sean: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Brown University</a> - Current Undergrad, Computer Science</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 3 code ends here -->
    
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Rachel: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Brown University</a> - Bachelors, History</div>
            <div class="col-12 department-label">Antioch University New England - Masters, Environmental Education</div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- tutor 2 code start here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image2"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Christopher: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>University of Illinois at Urbana-Champaign</a> - Bachelors, Psychology</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 2 code ends here -->
    
    <!-- tutor 4 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image4"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Quinn: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Washington University in St Louis</a> - Bachelor of Science, Biomedical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 4 code ends here -->
    
    <!-- tutor 5 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image5"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Katherine: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label">Northwestern University<a>Swarthmore College</a> - Bachelors, Human Development and Psychological Services</div>
            <div class="col-12 department-label"><a>Florida Institute of Technology</a> - Current Grad Student, Professional Behavior Analysis</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 5 code ends here -->
    
    <!-- tutor 6 code stars here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image6"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Max: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>University of Illinois at Chicago</a> - Current Undergrad, Biological Sciences</div>
          </div>
        </div>
      </div>
    </div>
    <!-- tutor 6 code ends here -->
    
    <!-- Tutor 7 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image7"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Audrey: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"><i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i> Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Pomona College</a> - Bachelor in Arts, Political Science and Government</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 7 code ends here -->
    
    <!-- Tutor 8 code starts here -->
    <div class="row">
      <div class="col-12">
        <div class="col-12 box-shadow">
          <div class="row">
            <div class="col-2 tutor-image8"></div>
            <div class="col-10">
              <div class="row">
                <div class="col-12 tutor-label">
                  Charles: ACT tutor</div>
                <div class="col-12">
                 <h5 style="font-weight: bold; margin-bottom: 10px;"> <i class="fa fa-check-circle check-mark-label" aria-hidden="true"></i>Certified ACT Tutor</h5> </div>
              </div>
              <div class="row">
                <div class="col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
              </div>
            </div>
            <div class="col-12 seperator-line"></div>
          </div>
          <div class="row">
            <div class="col-12 education-label">Education & Certification</div>
            <div class="col-12 department-label"> <a>Yale University</a> - Bachelor of Science, Mechanical Engineering</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutor 8 code ends here -->
    
  </div>
</div>