<div>
  <!-- Page Header-->
  <header class="section page-header page-header-1 context-dark">

    <!--<a href="index.html" id="hometab" class="fa fa-home"></a>-->
    <div class="page-header-1-figure m-parallax">
      <div class="page-header-1-image m-parallax-image"
        style="background-image: url(../../../../assets/home/images/bg-image-4.jpg);"></div>
    </div>
    <section class="breadcrumbs-custom">
      <div class="breadcrumbs-custom-inner">
        <div class="container">
          <div class="breadcrumbs-custom-main m-parallax-content">
            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
              <path
                d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7"
                stroke-width="1.98" stroke-miterlimit="10"></path>
            </svg>
            <h2 class="breadcrumbs-custom-title text-uppercase">CAP360</h2>
            <!-- <p class="big">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.</p> -->
          </div>
        </div>
      </div>
    </section>
  </header>
  <section>
    <div class="container margin-nav">
      <h2 class="text-uppercase font-weight-bold post-info-title">CAP360</h2>
    </div>
  </section>
  <section>
    <video class="video-bg" id="bgvid" playsinline autoplay muted="true" loop>
      <!-- <source src="../../../../assets/home/video/cap-360.mp4"  type="video/mp4"> -->
    </video>
  </section>
  <section class="section">
    <!-- Bootstrap tabs-->
    <div class="tabs-custom tabs-complex" id="tabs-1">
      <button class="tabs-complex-nav-toggle" data-multitoggle="#tabs-complex-nav"
        data-isolate="#tabs-complex-nav"><span>Navigation</span><span class="icon mdi mdi-chevron-down"></span></button>
      <!-- Nav tabs-->
      <ul class="nav nav-tabs" id="tabs-complex-nav">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab"><span
              class="fa fa-hashtag"></span><span class="font-weight-medium">Program</span></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab"><span
              class="icon mdi mdi-map"></span><span class="font-weight-medium">Highlights</span></a></li>

      </ul>
      <!-- Tab panes-->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tabs-1-1">
          <div class="container">
            <div class="tab-space row row-50">
              <div class="col-lg-9">
                <article class="inset-1">
                  <!-- <h2 class="text-uppercase font-weight-bold post-info-title">Cap360</h2> -->
                  <!-- <div class="post-info-details">
                        <p class="post-info-price">$249</p>
                      </div> -->
                  <div class="post-info-meta">
                    <ul class="post-info-meta-list">
                      <li><span class="icon mdi mdi-clock"></span><span>Duration: </span></li>
                      <li><span class="icon mdi mdi-star-outline"></span><span>52 Weeks</span></li>
                    </ul>
                  </div>
                  <p class="p-text-align">CAP360 is the program that transforms the kid into an entrepreneur, visionary
                    and a future leader. The curriculum of CAP360 is derived from research and proven modules in
                    different areas. CAP360 takes into consideration all aspects of engagements and in the process will
                    be targeting future college admissions in a competitive way with a more focused and goal-oriented
                    approach. </p>
                  <a (click)="enrollcap360($event)"
                    class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top feedback">Enroll Now</a>
                </article>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tabs-1-2">
          <div class="container">
            <div class="tab-space row row-50">
              <div class="col-lg-9">
                <div class="inset-1">
                  <h2 class="text-uppercase font-weight-bold">HIGHLIGHTS</h2>
                  <div class="hand-table">
                    <p>CAP360 consists of modules as below running into various weeks empowering students at different
                      grades. </p>
                    <p class="number-list">Entrepreneurship</p>
                    <p class="number-list">Innovation</p>
                    <p class="number-list">Training and competitions in:</p>
                    <p class="number-list-sub">Spell Champ</p>
                    <p class="number-list-sub">Math Champ</p>
                    <p class="number-list-sub">Crossword Puzzlers</p>
                    <p class="number-list">Social Service and Leadership activities</p>
                    <p class="number-list-sub">Newspaper</p>
                    <p class="number-list-sub">Local Government</p>
                    <p class="number-list-sub">M.U.N</p>
                    <p class="number-list-sub">Local Radio</p>
                    <p class="number-list-sub">Idea Tank</p>
                    <p class="number-list-sub">Community Services</p>

                    <p class="number-list">Field Trips</p>
                    <p>The entrepreneurship program is derived from the Government of Israel’s pioneering initiative
                      call – EFK, which is being regarded as one of the best programs in Entrepreneurship for kids. </p>
                    <p>In short, entrepreneurship combines teaching theoretical knowledge, having practical experience
                      in developing projects, supporting and building self-esteem among students, and enjoying the
                      process.</p>

                    <a class="button button-lg button-primary mt-20" (click)="enrollcap360($event)">Enroll Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Footer-->
  <!-- <footer class="section footer-classic footer-classic-md">
    <div class="footer-classic-main">
      <div class="container">
        <div class="footer-classic-layout justify-content-sm-around justify-content-md-between divider-4">
          <div class="footer-classic-layout-item"><a class="brand" href="index.html"><img class="brand-logo-dark"
                src="../../../../assets/home/images/cap-logo.png" alt="" width="250" height="39" /><img
                class="brand-logo-light" src="../../../../assets/home/images/cap-logo.png" alt="" width="250"
                height="39" /></a>
            <div class="footer-classic-item-block footer-classic-item-block-1">

              <div class="owl-carousel-quote-light">
                
                <div class="owl-carousel" data-items="1" data-dots="false" data-nav="false" data-stage-padding="0"
                  data-loop="true" data-margin="30" data-nav-custom="#footer-owl-nav" data-animation-in="fadeIn"
                  data-animation-out="fadeOut" data-mouse-drag="false">
                  <blockquote class="quote-light quote-light-sm">
                    
                  </blockquote>
                  <blockquote class="quote-light quote-light-sm">
                    <div class="quote-light-main">
                      <div class="quote-light-text">
                        <q>I am really enjoying my experience here. Teachers are very friendly and there is a friendly
                          atmosphere.</q>
                      </div>
                      <cite class="quote-light-cite">Peter McMillan</cite>
                    </div>
                  </blockquote>
                  <blockquote class="quote-light quote-light-sm">
                    <div class="quote-light-main">
                      <div class="quote-light-text">
                        <q>I like that it has a busy atmosphere but it’s never stressful. Everyone is very nice and you
                          can ask anything at any time.</q>
                      </div>
                      <cite class="quote-light-cite">Kate Wilson</cite>
                    </div>
                  </blockquote>
                </div>
                <div class="owl-nav" id="footer-owl-nav">
                  <button class="owl-arrow owl-arrow-prev" aria-label="Prev">
                    <svg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.7,15.1c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.4,8l5.7-5.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,7.3                   c-0.4,0.4-0.4,1,0,1.4L6.7,15.1z M20,7H1v2h19V7z">
                      </path>
                    </svg>
                  </button>
                  <div class="owl-nav-divider"></div>
                  <button class="owl-arrow owl-arrow-next" aria-label="Next">
                    <svg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9H19V7L0 7L0 9Z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-classic-layout-item">
            <h6 class="footer-classic-title inset-3">Popular Courses</h6>
            <div class="footer-classic-item-block footer-classic-item-block-3">
              <ul class="list-pricing">
                <li><a href="smart-sat.html"><span class="list-pricing-title">SMARTSAT</span></a></li>
                <li><a href="cap-360.html"><span class="list-pricing-title">Cap360</span></a></li>
                <li><a href="boot-camp.html"><span class="list-pricing-title">BOOT CAMP</span></a></li>
                <li><a href="#"><span class="list-pricing-title">Counseling</span></a></li>

              </ul>
            </div>
          </div>
          <div class="footer-classic-layout-item">
            <h6 class="footer-classic-title inset-3">Get in Touch</h6>
            <div class="footer-classic-item-block">
              <ul class="list list-1">
                <li><a href="contact-us.html">Contacts</a></li>
              </ul>
              <ul class="list-inline list-inline-md">
                <li><a class="link-2 icon mdi mdi-instagram" href="https://www.instagram.com/capivyleague/"></a></li>
                <li><a class="link-2 icon mdi mdi-facebook" href="https://www.facebook.com/CAP-101123078603011"></a>
                </li>
                <li><a class="link-2 icon mdi mdi-twitter" href="https://twitter.com/capivyleague"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-0">
      <div class="divider-2"></div>
    </div>
    <div class="footer-classic-aside">
      <div class="container">
        <p class="rights"><span>&copy;&nbsp; </span><span
            class="copyright-year"></span><span>&nbsp;</span><span>CAP</span><span>. All rights reserved.&nbsp;</span> |
          <a href="faqs.html">FAQ's</a> | <a href="privacy-policy.html">Privacy Policy</a> | <a
            href="terms-conditions.html">Terms & Conditions</a><span>.</span></p>
      </div>
    </div>
  </footer> -->
</div>
<div class="snackbars" id="form-output-global"></div>