<div>
  <!-- Page Header-->
  <header class="section page-header page-header-2 section-custom-1-ally">
    <!-- Jumbotron 3-->
    <div class="jumbotron-3">
      <div class="parallax-container jumbotron-3-inner context-dark"
        data-parallax-img="../../../assets/home/images/bg-image-01-new.jpg">
        <div class="parallax-content">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-7 col-xl-7">
                <ngx-slick-carousel class="carousel" #galleryOne="slick-carousel" [config]="slideConfig">
                  <div ngxSlickItem  *ngFor="let slide of capProgramInfo" class="slide">
                   <div class="slider-text">
                   <div class="unit jumbotron-3-title wow fadeIn">
                       <div class="unit-body">
                         <h5 class="font-weight-regular line-height-title">{{ slide?.title }} </h5>
                       </div>
                     </div>
                     <div class="jumbotron-3-text wow fadeIn" data-wow-delay=".1s">
                       <h1 class="text-uppercase font-weight-strong text-decoration">{{ slide?.header }}<br><span class="font-weight-light">{{ slide?.subHeader }}</span></h1>
                   </div>
                 </div>
                 </div>
               </ngx-slick-carousel> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Tours-->
  <section class="section section-custom-1 bg-default">
    <div class="container">
      <div class="row row-50 justify-content-xl-between flex-lg-row-reverse">
        <div class="col-lg-5 col-xl-5">
          <div class="section-custom-1-block box-decoration">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <div class="d-flex justify-content-between">
                  <h4 class="text-uppercase font-weight-sbold wow fadeIn">Book a Diagnostic Test</h4><span
                    class="icon mdi icon-sm linearicons-pencil3"></span>
                </div>
                <!-- RD Mailform-->
                <form class="row-video rd-form rd-mailform form-lg" [formGroup]="bookNowForm" data-form-output="form-output-global"
                  data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap form-wrap-icon wow fadeIn" data-wow-delay=".05s">
                    <label class="form-label form-label-outside" for="contact-1-name">Name</label>
                    <input class="form-input" id="contact-1-name" type="text" formControlName="name" data-constraints="@Required"                    >
                    <div class="icon form-icon mdi mdi-account-outline"><span class="required-f">*</span></div>                    
                  </div>
                  <div class="form-wrap form-wrap-icon wow fadeIn" data-wow-delay=".1s">
                    <label class="form-label form-label-outside" for="contact-1-phone">Phone</label>
                    <input class="form-input" id="contact-1-phone"formControlName="phone" type="text"
                      data-constraints="@Required">
                    <div class="icon form-icon mdi mdi-phone"><span class="required-f">*</span></div>
                    <div
                      *ngIf="bookNowForm.get('phone').errors && (bookNowForm.get('phone').touched || bookNowForm.get('phone').dirty)"
                      class="invalid-feedback">
                      <div *ngIf="bookNowForm.get('phone').errors.minlength">Phone number is not more than 10 digits</div>
                </div>
                  </div>
                  <div class="form-wrap form-wrap-icon wow fadeIn" data-wow-delay=".15s">
                    <label class="form-label form-label-outside" for="contact-1-email">E-mail</label>
                    <input class="form-input" id="contact-1-email" type="email" formControlName="email"
                      data-constraints="@Required">
                    <div class="icon form-icon mdi mdi-email-outline"><span class="required-fem">*</span></div>
                  </div>
                  <div class="form-wrap wow fadeIn" data-wow-delay=".2s">
                    <button class="button button-lg button-icon button-2 button-primary" type="button" [disabled]="!allFormsValid()" (click)="onSubmitBookNow()">book now</button>
                  </div>
                </form>
              </div>
              <div class="row-video col-md-6 col-lg-12">
                <div class="video-space">
                  <video controls style="width: 100%;">
                    <source src="../../../assets/home/video/cap-360.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="row-video col-md-6 col-lg-12">
                <a (click)="enroll($event)" class="button button-lg button-icon button-2 button-primary">Enroll
                  Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-xl-6">
          <div class="inset-4">
            <div class="layout-2 wow fadeIn">
              <h2 class="text-uppercase font-weight-bold">Programs We Offer</h2>
              <div class="layout-2-item"><a class="button button-sm button-style-1" href="our-programs.html">See All</a>
              </div>
            </div>
            <div class="row row-30 mt-xl-60">
              <div class="col-xs-6 col-sm-6 wow fadeIn">
                <article class="tour-minimal context-dark">
                  <div class="tour-minimal-inner img-overlay"
                    style="background-image: url(../../../assets/home/images/home-3-2-258x273.jpg);">
                    <div class="tour-minimal-header">
                    </div>
                    <div class="tour-minimal-main">
                      <h3 class="tour-minimal-title font-weight-sbold"><a routerLink='/home/smartsat'> SMARTSAT</a></h3>
                      <div class="tour-minimal-pricing">
                        <!-- <p class="tour-minimal-price tour-minimal-price-new">$99</p> -->
                      </div>
                    </div>
                    <div class="tour-minimal-caption">
                      <p>Students learn at their own speed and capacity.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-6 col-sm-6 wow fadeIn" data-wow-delay=".05s">
                <article class="tour-minimal context-dark">
                  <div class="tour-minimal-inner img-overlay"
                    style="background-image: url(../../../assets/home/images/home-3-3-258x273.jpg);">
                    <div class="tour-minimal-header">
                    </div>
                    <div class="tour-minimal-main">
                      <h3 class="tour-minimal-title font-weight-sbold"><a [routerLink]="['/home/cap-360']"> CAP360</a>
                      </h3>
                      <div class="tour-minimal-pricing">
                        <!-- <p class="tour-minimal-price tour-minimal-price-new">$249</p> -->
                      </div>
                    </div>
                    <div class="tour-minimal-caption">
                      <p>More focused and goal-oriented approach. </p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-6 col-sm-6 wow fadeIn" data-wow-delay=".05s">
                <article class="tour-minimal context-dark">
                  <div class="tour-minimal-inner img-overlay"
                    style="background-image: url(../../../assets/home/images/home-3-4-258x273.jpg);">
                    <div class="tour-minimal-header">
                    </div>
                    <div class="tour-minimal-main">
                      <h3 class="tour-minimal-title font-weight-sbold"><a [routerLink]="['/home/cap-360']"> CHAMPION
                          BEE</a></h3>
                      <div class="tour-minimal-pricing">
                        <p class="tour-minimal-price tour-minimal-price-new">
                          <!-- $40 -->
                        </p>
                      </div>
                    </div>
                    <div class="tour-minimal-caption">
                      <p>Empowering students at different grades.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-6 col-sm-6 wow fadeIn" data-wow-delay=".1s">
                <article class="tour-minimal context-dark">
                  <div class="tour-minimal-inner img-overlay"
                    style="background-image: url(../../../assets/home/images/home-counseling-10-258x273.jpg);">
                    <div class="tour-minimal-header">
                    </div>
                    <div class="tour-minimal-main">
                      <h3 class="tour-minimal-title font-weight-sbold"><a href="#"> COUNSELING</a></h3>
                      <div class="tour-minimal-pricing">
                        <p class="tour-minimal-price tour-minimal-price-new">
                          <!-- $17 -->
                        </p>
                      </div>
                    </div>
                    <div class="tour-minimal-caption">
                      <p>Help to build those essential skills students </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enroll -->
  <!-- <div id="mybutton">
      <a href="" class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top feedback">Enroll Now</a>
    </div> -->
  <!-- Latest News-->
  <section class="section section-lg bg-default text-center">
    <div class="container">
      <h2 class="text-uppercase font-weight-bold wow fadeIn">CAP HIGHLIGHTS</h2>
      <p>CAP is designed to help students crack the SAT/ACT exams and find the best-fit college.</p>
      <div class="row row-40 row-md-50 row-xxl-80">
        <div class="col-sm-6 col-lg-4 wow fadeIn">
          <!-- Post Classic-->
          <article class="post-classic">
            <p class="post-classic-figure"><img class="post-classic-image"
                src="../../../assets/home/images/cap-tutor-img-png.png" alt="" width="339" height="251" /></p>
            <p class="post-classic-time" datetime="2019">TUTORING</p>
            <p>(Tutors from top Universities)</p>
            <div class="post-classic-divider"></div>
            <p class="tutor-list">Classes offer every student fun and engaging way to learn.</p>
            <p class="tutor-list">Our SME's work with limited students to ensure personal attention.</p>
            <p class="tutor-list">A customized approach to focus on areas of improvement.</p>
            <p class="tutor-list">The robust testing method with a holistic approach.</p>
            <p class="tutor-list">CAP assists students to land in their dream college.</p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top"
                href="our-programs.html">Know More</a></p>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".05s">
          <!-- Post Classic-->
          <article class="post-classic">
            <p class="post-classic-figure"><img class="post-classic-image"
                src="../../../assets/home/images/cap-touch-img-png.png" alt="" width="339" height="251" /></p>
            <p class="post-classic-time" datetime="2019">THE CAP TOUCH</p>
            <p>(What makes us special?)</p>
            <div class="post-classic-divider"></div>
            <p class="touch-list">CAP provides an unparalleled admission and counseling service. </p>
            <!--  <p class="touch-list">We rely on different methodologies. </p> -->
            <p class="touch-list">We focus on all-round development of students. </p>
            <p class="touch-list">Expert assistance round-the-clock. </p>
            <p class="touch-list">Updated course materials, personalized attention and empower students with
              self-belief. </p>
            <!-- <p class="touch-list">Expert assistance round-the-clock. </p> -->
            <p class="touch-list">Experts reveal strategies and skills to equip students for a bright future.</p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top" href="why-cap.html">Know
                More</a></p>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
          <!-- Post Classic-->
          <article class="post-classic">
            <p class="post-classic-figure"><img class="post-classic-image"
                src="../../../assets/home/images/cap-counseling-img-png.png" alt="" width="339" height="251" /></p>
            <p class="post-classic-time" datetime="2019">COUNSELING</p>
            <p>(How do I deal with the stress?)</p>
            <div class="post-classic-divider"></div>
            <p class="counseling-list">CAP ensures all students have their sights set firmly on their goals.</p>
            <p class="counseling-list">Helps to identify the right school for a student. </p>
            <p class="counseling-list">Our team emphasizes on excellent stress management techniques to combat difficult
              situations. </p>
            <p class="counseling-list">Creates a Strategic Admission Plan.</p>
            <p class="counseling-list">Builds essential skills of a student to carry on for their life. </p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top"
                href="javascrip:void(0);">Know More</a></p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm bg-default">
    <div class="container">
      <div class="row row-50 justify-content-center align-items-center">
        <div class="col-md-10 col-lg-7">
          <h3 class="title-costume block-1">CAP</h3>
          <div class="block-2 mt-20 mt-md-30 mt-lg-50">
            <p class="p-text-align">College Admission Plan (CAP) is meant for students who have their sight set on
              increasing the SAT/ACT scores using a completely holistic approach. We assist our students to receive
              admission into the coveted Ivy League colleges. And, that’s no small feat! How do we do it? CAP picks the
              highest achievers as instructors who provide excellent winning strategies to every student. Our online
              training sessions are comprehensive with complete attention-to-detail to every minor requirement. We treat
              every student uniquely. But, don’t take our word for it. Request for our 30-day free trial. Watch to know
              the CAP philosophy aimed at motivating and inspiring students in a stress-free environment.</p>

          </div><a class="button button-lg button-primary mt-lg-40"  style="color:#fff">Read More</a>
        </div>
        <div class="col-md-10 col-lg-5 position-relative">
          <div class="figure-1"><img src="../../../assets/home/images/about-1-457x566.png" alt="" width="457"
              height="566" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Featured Tours-->
  <!-- 
   -->

  <section style="background-image: url(../../../assets/home/images/bg-image-3.jpg);">
    <div class="container">
      <div class="foot-slider row">
        <div class="col-md-7">
          <div class="multiple-items-c">
            <div class="slider-text">
              <div class="unit text-jumbo wow fadeIn">
                <div class="unit-body text-center-slide">
                  <h5 class="font-weight-regular line-height-title">One of the most intensive and detailed curricula
                    purely based on SAT Content.</h5>
                </div>
              </div>
              <div class="text-jumbo wow fadeIn" data-wow-delay=".1s">
                <h1 class="text-uppercase font-weight-strong text-decoration">Smartsat</h1>
              </div>
            </div>
            <div class="slider-text">
              <div class="unit text-jumbo wow fadeIn">
                <div class="unit-body text-center-slide">
                  <h5 class="font-weight-regular line-height-title">CAP360 is the program that transforms the kid into
                    an entrepreneur</h5>
                </div>
              </div>
              <div class="text-jumbo wow fadeIn" data-wow-delay=".1s">
                <h1 class="text-uppercase font-weight-strong text-decoration">CAP360<br>
                  <!-- <span class="font-weight-light">BOOT CAMP®</span> -->
                </h1>
              </div>
            </div>
            <div class="slider-text">
              <div class="unit text-jumbo wow fadeIn">
                <div class="unit-body text-center-slide">
                  <h5 class="font-weight-regular line-height-title">CAP ensures all students have their sights set
                    firmly on their goals.</h5>
                </div>
              </div>
              <div class="text-jumbo wow fadeIn" data-wow-delay=".1s">
                <h1 class="text-uppercase font-weight-strong text-decoration">COUNSELING<br>
                  <!-- <span class="font-weight-light">BOOT CAMP®</span> -->
                </h1>
              </div>
            </div>
            <div class="slider-text">
              <div class="unit text-jumbo wow fadeIn">
                <div class="unit-body text-center-slide">
                  <h5 class="font-weight-regular line-height-title">CAP360 consists of modules as below running into
                    various weeks empowering students at different grades.</h5>
                </div>
              </div>
              <div class="text-jumbo wow fadeIn" data-wow-delay=".1s">
                <h1 class="text-uppercase font-weight-strong text-decoration">Entrepreneurship<br>
                  <!-- <span class="font-weight-light">BOOT CAMP®</span> -->
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest News-->
  <section class="section section-lg bg-default text-center">
    <div class="container">
      <h2 class="text-uppercase font-weight-bold wow fadeIn">CAP Enrichments</h2>
      <div class="row row-40 row-md-50 row-xxl-80">
        <div class="col-sm-6 col-lg-4 wow fadeIn">
          <!-- Post Classic-->
          <article class="post-classic"><a class="post-classic-figure" href="javascrip:void(0);"><img
                class="post-classic-image" src="../../../assets/home/images/entrepreneurship.jpg" alt="" width="339"
                height="251" /></a>
            <time class="post-classic-time" datetime="2019">Entrepreneurship</time>
            <div class="post-classic-divider"></div>
            <p class="p-text-align post-classic-title font-weight-medium link-black"><a href="javascrip:void(0);">Best
                Entrepreneurship program designed for future leaders and approved by Israeli Minitry of Education</a>
            </p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top"
                [routerLink]="['/home/cap-360']">Know More</a></p>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".05s">
          <!-- Post Classic-->
          <article class="post-classic"><a class="post-classic-figure" href="javascrip:void(0);"><img
                class="post-classic-image" src="../../../assets/home/images/innovation.jpg" alt="" width="339"
                height="251" /></a>
            <time class="post-classic-time" datetime="2019">Innovation</time>
            <div class="post-classic-divider"></div>
            <p class="p-text-align post-classic-title font-weight-medium link-black"><a
                href="javascrip:void(0);">Program emphasizes on positive thinking and innovative mindset from an early
                age and persevere until succeed!</a></p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top"
                [routerLink]="['/home/cap-360']">Know More</a></p>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
          <!-- Post Classic-->
          <article class="post-classic"><a class="post-classic-figure" href="javascrip:void(0);"><img
                class="post-classic-image" src="../../../assets/home/images/mun.jpg" alt="" width="339"
                height="251" /></a>
            <time class="post-classic-time" datetime="2019">MUN</time>
            <div class="post-classic-divider"></div>
            <p class="p-text-align post-classic-title font-weight-medium link-black"><a href="javascrip:void(0);">Model
                United Nations a program shaping the future leaders loaded with confidence, speaking skills, critical
                thinking skills.</a></p>
            <p class="post-classic-title font-weight-medium"><a
                class="button button-lg button-primary mt-lg-40 knowmore-padding margin-top"
                [routerLink]="['/home/cap-360']">Know More</a></p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- Get in Touch-->
  <section class="section section-lg bg-image"
    style="background-image: url(../../../assets/home/images/bg-image-02.jpg);">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-8">
          <h2 class="text-white text-uppercase font-weight-bold wow fadeIn">Get in Touch</h2>
          <article class="box-7 mt-md-45 mt-xxl-70 wow fadeIn" data-wow-delay=".05s">
            <!-- RD Mailform-->
            <form class="rd-form rd-mailform form-lg" [formGroup]="contactUsForm" data-form-output="form-output-global" data-form-type="contact"
              method="post" action="#">
              <div class="row row-30">
                <div class="col-md-6">
                  <div class="form-wrap form-wrap-icon">
                    <input class="form-input" id="contact-name" type="text" formControlName="name" data-constraints="@Required">
                    <label class="form-label" for="contact-name">Name</label>
                    <div class="icon form-icon mdi mdi-account-outline text-primary" style="color:#f94 !important"><span class="required-f">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-wrap form-wrap-icon">
                    <input class="form-input" id="contact-email" type="email" formControlName="email"
                      data-constraints="@Required">
                    <label class="form-label" for="contact-email">E-mail</label>
                    <div class="icon form-icon mdi mdi-email-outline text-primary" style="color:#f94 !important"><span class="required-fem">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-wrap form-wrap-icon">
                    <label class="form-label" for="contact-message">Message</label>
                    <textarea class="form-input" id="contact-message" formControlName="message"
                      data-constraints="@Required"></textarea>
                    <div class="icon form-icon mdi mdi-message-outline text-primary" style="color:#f94 !important"><span class="required-fem">*</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-wrap form-wrap-button">
                <button class="button button-lg button-primary" type="submit" [disabled]="!allFieldsInGetinTouchValid()" (click)="onSubmitContactUs()">Send</button>
              </div>
            </form>
          </article>
        </div>
        <div class="col-lg-4">
          <h2 class="text-white text-uppercase font-weight-bold wow fadeIn">About CAP</h2>
          <div class="row row-30  mt-md-45 mt-xxl-70">
            <div class="col-sm-6 col-lg-12 wow fadeIn" data-wow-delay=".05s">
              <p class="p-about">CAP America, Inc. is the premier edutech company focusing on the all-round enrichment
                of kids. </p>
              <p class="p-about">One of the milestone of a student is to get into the dream school. CAP equips an
                individual with all those tips and tricks to get in to Ivy League colleges</p>
            </div>
            <div class="col-sm-6 col-lg-12 wow fadeIn" data-wow-delay=".15s">
              <p class="big mt-md-30 mt-xl-50 text-white">135 E. Algonquin Road, Suite B, Arlington Heights, IL 60005.
              </p>
              <article class="box-inline-1"><span class="icon mdi mdi-phone"></span><a
                  href="tel:571-279-0000">571-279-0000</a></article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Footer-->
  <!-- <footer class="section footer-classic footer-classic-md">
    <div class="footer-classic-main">
      <div class="container">
        <div class="footer-classic-layout justify-content-sm-around justify-content-md-between divider-4">
          <div class="footer-classic-layout-item"><a class="brand" [routerLink]="['/home']"><img class="brand-logo-dark"
                src="../../../assets/home/images/cap-logo.png" alt="" width="250" height="39" /><img
                class="brand-logo-light" src="../../../assets/home/images/cap-logo.png" alt="" width="250"
                height="39" /></a>
            <div class="footer-classic-item-block footer-classic-item-block-1">

              <div class="owl-carousel-quote-light">
                
                <div class="owl-carousel" data-items="1" data-dots="false" data-nav="false" data-stage-padding="0"
                  data-loop="true" data-margin="30" data-nav-custom="#footer-owl-nav" data-animation-in="fadeIn"
                  data-animation-out="fadeOut" data-mouse-drag="false">
                  <blockquote class="quote-light quote-light-sm">
                  </blockquote>
                  <blockquote class="quote-light quote-light-sm">
                    <div class="quote-light-main">
                      <div class="quote-light-text">
                        <q>I am really enjoying my experience here. Teachers are very friendly and there is a friendly
                          atmosphere.</q>
                      </div>
                      <cite class="quote-light-cite">Peter McMillan</cite>
                    </div>
                  </blockquote>
                  <blockquote class="quote-light quote-light-sm">
                    <div class="quote-light-main">
                      <div class="quote-light-text">
                        <q>I like that it has a busy atmosphere but it’s never stressful. Everyone is very nice and you
                          can ask anything at any time.</q>
                      </div>
                      <cite class="quote-light-cite">Kate Wilson</cite>
                    </div>
                  </blockquote>
                </div>
                <div class="owl-nav" id="footer-owl-nav">
                  <button class="owl-arrow owl-arrow-prev" aria-label="Prev">
                    <svg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.7,15.1c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.4,8l5.7-5.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,7.3										c-0.4,0.4-0.4,1,0,1.4L6.7,15.1z M20,7H1v2h19V7z">
                      </path>
                    </svg>
                  </button>
                  <div class="owl-nav-divider"></div>
                  <button class="owl-arrow owl-arrow-next" aria-label="Next">
                    <svg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9H19V7L0 7L0 9Z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-classic-layout-item">
            <h6 class="footer-classic-title inset-3">Popular Courses</h6>
            <div class="footer-classic-item-block footer-classic-item-block-3">
              <ul class="list-pricing">
                <li><a [routerLink]="['/home/smartsat']"><span class="list-pricing-title">SMARTSAT</span></a></li>
                <li><a [routerLink]="['/home/cap-360']"><span class="list-pricing-title">Cap360</span></a></li>
                <li><a [routerLink]="['/home/bootcamp']"><span class="list-pricing-title">BOOT CAMP</span></a></li>
                <li><a [routerLink]="['/home/our-program']"><span class="list-pricing-title">Counseling</span></a></li>

              </ul>
            </div>
          </div>
          <div class="footer-classic-layout-item">
            <h6 class="footer-classic-title inset-3">Get in Touch</h6>
            <div class="footer-classic-item-block">
              <ul class="list list-1">
                <li><a [routerLink]="['/home/contact-us']">Contacts</a></li>
              </ul>
              <ul class="list-inline list-inline-md">
                <li><a class="link-2 icon mdi mdi-instagram" href="https://www.instagram.com/capivyleague/"></a></li>
                <li><a class="link-2 icon mdi mdi-facebook" href="https://www.facebook.com/CAP-101123078603011"></a>
                </li>
                <li><a class="link-2 icon mdi mdi-twitter" href="https://twitter.com/capivyleague"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-0">
      <div class="divider-2"></div>
    </div>
    <div class="footer-classic-aside">
      <div class="container">
        <p class="rights"><span>&copy;&nbsp; </span><span
            class="copyright-year"></span><span>&nbsp;</span><span>CAP</span><span>. All rights reserved.&nbsp;</span> |
          <a href="faqs.html">FAQ's</a> | <a href="privacy-policy.html">Privacy Policy</a> | <a
            href="terms-conditions.html">Terms & Conditions</a><span>.</span>
        </p>
      </div>
    </div>
  </footer> -->
</div>
<div class="snackbars" id="form-output-global"></div>