<div>
  <!-- Page Header-->
  <header class="section page-header page-header-1 context-dark">
    <div class="page-header-1-figure m-parallax">
      <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/page-title.jpg);"></div>
    </div>
    <section class="breadcrumbs-custom">
      <div class="breadcrumbs-custom-inner">
        <div class="container">
          <div class="breadcrumbs-custom-main m-parallax-content">
            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
              <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
            </svg>
            <h2 class="breadcrumbs-custom-title text-uppercase">Team</h2>
            
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- Basic Info-->
  <section class="section section-sm bg-default">
    <div class="container">
      <div class="row row-50 justify-content-center align-items-center">
        <div class="col-md-10 col-lg-7">
          <div class="row">
            <div class="col-md-12">
                <h3 class="title-costume block-1">The Team</h3>
              <p class="p-text-align">CAP is a center of excellence for young SAT/ACT learners. Students appearing for SAT/ACT and seeking acceptance letters to top American colleges are enrolling with our ambitious learning program. Tutors graduated from the top American college’s offers the best learning platform for young learners to crack the SAT/ACT puzzle.</p>
              <p class="p-text-align">CAP team of experts and specialists guides the students at every stage of their SAT/ACT preparation. Young learners under the tutelage of CAP relentlessly pursues SAT/ACT successful path. A team of experts and specialists come together under one platform and offer their acclaimed services for the young learners. The CAP offers unparalleled services such as Application Bootcamp, Consulting and Counseling helping the student’s gets over the finishing line with ease. 24/7 * 365 guidance is appreciated by the burgeoning young learners in our SAT/ACT programs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-lg-5 position-relative">
          <div class="post-classic-figure"><img class="post-classic-image" src="../../../../assets/home/images/single-tour-1-original.jpg" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="snackbars" id="form-output-global"></div>
