<div class="col-12">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4"
              style="color: #d63031; font-size: 18px; font-weight: 500; display: flex; align-items: center;">
              Batch Assign
            </div>
            <div class="col-8" style="text-align:right;">
              <button class="btn btn-primary" (click)="assignBatch()">Assign Batch</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- temporarly commented below code -->
          <!-- <div class="row">
            <div class="col-12">
              <form [formGroup]="searchBatchForm">
                <div class="row">
                  <div class="col-2">
                    <input type="text" class="form-control" formControlName="BatchName" placeholder="Batch Name">
                  </div>
                  <div class="col-2 form-group">
                    <select class="form-control" formControlName="TutorId">
                      <option [value]="null">--Tutor--</option>
                      <option *ngFor="let tutor of allTutors" [value]="tutor.UserId" >{{tutor.FirstName}}</option>
                  </select> 
                  </div>
                    <div class="col-2">
                      <select class="form-control" formControlName="CenteradminId">
                        <option [value]="null">--Center Admin--</option>
                        <option *ngFor="let tutor of centerAdmin" [value]="tutor.UserId" >{{tutor.FirstName}}</option>
                    </select> 
                    </div>
                  <div class="col-2">
                    <span (click)="onSearchData()"><i class="fa fa-search admin-search-icon-label" aria-hidden="true"></i></span>
                  </div>
              </div>
              </form>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <!-- <p-table [value]="allBatchAssign" #dt [lazy]="true" (onLazyLoad)="loadBathces($event)" dataKey="AssignId" 
              filter="true"
              [autoLayout]="true" [responsive]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"> -->
              <p-table #datatable styleClass="p-datatable-striped" [value]="allBatchAssign" [metaKeySelection]="true"
                [rows]="10" [paginator]="true" [pageLinks]="3" selectionMode="multiple" [autoLayout]="true"
                [responsive]="true" [scrollable]="true" [lazy]="false"
                [globalFilterFields]="['AssignId','Studentname','BatchName','FranchiseTitle','CenteradminName']">

                <ng-template pTemplate="caption">
                  <div class="col-12 table-caption-container">
                    <div class="p-d-flex">
                      <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="datatable.filterGlobal($event.target.value, 'contains')"
                          placeholder="Search keyword" />
                      </span>
                    </div>
                    <div class="p-d-flex">
                      <button type="button" pButton pRipple icon="pi pi-file-o" (click)="downloadFile(allBatchAssign)"
                        class="export-button-align p-button-success" pTooltip="CSV" tooltipPosition="top"></button>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>

                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Batch Assign ID
                        <p-columnFilter type="text" field="AssignId" display="menu"></p-columnFilter>
                      </div>
                    </th>


                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Batch
                        <p-columnFilter type="text" field="BatchName" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Student
                        <p-columnFilter type="text" field="Studentname" display="menu"></p-columnFilter>
                      </div>
                    </th>

                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Franchise
                        <p-columnFilter type="text" field="FranchiseTitle" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Center Admin
                        <p-columnFilter type="text" field="CenteradminName" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Actions
                        <!-- <p-columnFilter type="text" field="FirstName" display="menu"></p-columnFilter> -->
                      </div>
                    </th>
                    <!-- <th scope="col">Batch Assign ID -->
                    <!-- </th> -->
                    <!-- <th scope="col">Batch</th>
                    <th scope="col">Student</th>
                    <th scope="col">Franchise</th>
                    <th scope="col">Center Admin</th>
                    <th scope="col">Actions</th> -->
                  </tr>
                  <!-- <tr>
                   <th>
                     <input pInputText type="text" (input)="dt.filter($event.target.value, 'AssignId', 'contains')" 
                      placeholder="Search by Name" class="p-column-filter">
                     
                    </th>
                  </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td> {{ rowData?.AssignId }} </td>
                    <td>{{ rowData?.BatchName }} </td>
                    <td>{{ rowData?.Studentname }} </td>
                    <td>{{ rowData?.FranchiseTitle }} </td>
                    <td>{{ rowData?.CenteradminName }} </td>
                    <td style="    position: sticky; width: 150px;">
                      <button class="btn btn-sm btn-primary" pTooltip="View" tooltipPosition="top"
                        (click)="viewBatchAssign(rowData)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                      <button class="btn btn-sm btn-danger" pTooltip="Delete" tooltipPosition="top"
                        (click)="removeBatchAssign(rowData)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">No Records.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
  <ng-template #addAssignBatchForm let-modal>
    <div class="modal-header report-issue-header">
      <h4 class="modal-title modal-header-title">Assign Batch</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="batchForm">
            <div class="row">
              <div class="col-12 madatory-field-label">
                * Marked Fields are Required</div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <label for="BatchId">Batch <span class="required-label">*</span></label>
                <select class="form-control" formControlName="BatchId">
                  <option [value]="null">--Select--</option>
                  <option *ngFor="let batch of batches" [value]="batch.BatchId">{{batch.BatchName}}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="isDislaySuperAdmin">
              <div class="col-12 form-group">
                <label for="CenteradminId">Center Admin <span class="required-label">*</span></label>
                <select class="form-control" formControlName="CenteradminId" (change)="onChnageCenteradmin($event)">
                  <option [value]="null">--Select--</option>
                  <option *ngFor="let tutor of centerAdmin" [value]="tutor.UserId">{{tutor.FirstName}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label>Students <span class="required-label">*</span></label>
              </div>
              <div class="col-12 students-container">
                <div class="row" *ngFor="let order of ordersFormArray.controls; let i = index">
                  <div class="col-12 studetns-label" formArrayName="StudentId" *ngIf="allStudents[i] !== undefined">
                    <mat-checkbox [formControlName]="i">{{allStudents[i].Studentname}} - <span style="color: red"> {{
                        allStudents[i].Assigned ? 'Assigned' : 'Un Assigned' }} </span> </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="col-12 required-label" *ngIf="displayStudentsNAMsg"> Students field required</div>
            </div>
            <hr>
            <div class="co-12 report-issue-btn-container">
              <button class="btn btn-success" style="margin-right: 10px;color:#ffffff;" [disabled]="!allFormsValid()"
                (click)="saveBatch()">Save</button>
              <button class="btn btn-danger" (click)="cancelBatch()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #displayTopics>
    <div class="container">
      <div class="row form-group">
        <div class="col-12 report-issue-header">Batch Details</div>
        <div class="col-12" style="padding: 25px;">
          <div class="row form-group">
            <div class="col-12">
              <span class="label">Batch Name : </span><span class="value"> {{ topic?.BatchName }}</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12">
              <span class="label">Student Name : </span><span class="value"> {{ topic?.Studentname }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="label">Is Active : </span><span class="value"> {{ topic?.IsActive ? 'Active' : 'In-Active'
                }}</span>
            </div>
          </div>
          <!-- <div class="row form-group">
          <div class="col-12">
            <span class="label">Created Date :</span><span class="value"> {{ topic?.CreatedDate | date:'dd/MM/yyyy' }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Updated Date :</span><span class="value"> {{ topic?.UpdatedDate | date:'dd/MM/yyyy' }}</span>
          </div>
        </div> -->
        </div>
        <hr>
        <div class="col-12" style="text-align: right; margin-bottom:15px;">
          <button class="btn btn-primary" (click)="cancelBatch()">Close</button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- delete message code starts here -->
  <ng-template #displayWarningMessage>
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding: 25px;">
          <div class="row">
            <div class="col-12" style="font-size: 20px; text-align: center;">
              Do you want to remove {{ topic?.Studentname }} student?
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12" style="text-align: right; margin-bottom:15px;">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary next-button" (click)="deleteBatch(topic)">Ok</button>
            </div>
            <div class="col-6" style="text-align: left;">
              <button class="btn btn-danger cancel-button" (click)="cancelBatch()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- delete message code ends here-->

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>