<div class="banner1">
  <div class="banner-cpn">
    <div class="container">
      <div class="content">
        <div class="banner-text light style-modern">
          <h1 class="page-title">Boot Camps</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> <img src={{expImageSrc}} alt="CAP Application Boot Camp" title="CAP Application Boot Camp" class="img-responsive mleft30 align-right">
        <h3>CAP Application Boot Camp</h3>
        <ul>
          <li><b>Hours:</b> XXX</li>
          <li><b>Duration:</b> 5 days</li>
          <li><b>Price:</b> XXXXX</li>
          <li><b>Location:</b> XXXX</li>
          <li><a href="" class="btn btn-primary">Sign Up Now</a></li>
        </ul>
        <p class="text-justify">The upcoming SAT season will require tremendous focus and preparation to ensure good grades. Those opting for the CAP Boot Camp sessions are already on the way to maximize preparation levels for high scores! There’s so much in store with CAP Boot Camp. </p>
        <div class="clear"></div>
        <h3>The CAP Guarantee</h3>
        <p class="para">CAP Boot Camp sessions are devised by counselors who are experts in their chosen fields with perfect SAT scores. The Boot Camp aims to empower every student with the right aptitude and strategies required to appear for SAT. You get the expertise of our instructors, self-study materials, essay copies, diagnostic tests and more.</p>
        <h3>What CAP Boot Camp Includes</h3>
        <ul>
          <li><i class="fa fa-graduation-cap"></i>Customized admissions report with advice on choice of tutorials, enhancing academic positions, the path to secure admission to the most coveted colleges and more.</li>
          <li><i class="fa fa-graduation-cap"></i>Includes standardized assessment measures</li>
          <li><i class="fa fa-graduation-cap"></i>Expert guidance on the top high school contests and awards, exclusive activity sheets with tips and samples</li>
          <li><i class="fa fa-graduation-cap"></i>Ample practice of SAT and ACT exams</li>
          <li><i class="fa fa-graduation-cap"></i>Direct access to Application Boot Camp student membership sites with resources, updates, and latest tools.</li>
        </ul>
        <a >Did you know? We have a 24X7 support via voice or video call for all enrolled students</a>
        <h3>5 days of Exciting Sessions!</h3>
        <ul>
          <li><i class="fa fa-graduation-cap"></i>Strategize in different ways to improve SAT scores</li>
          <li><i class="fa fa-graduation-cap"></i>Learn to tackle multiple essay subjects</li>
          <li><i class="fa fa-graduation-cap"></i>Find ways to increase your chances of acceptance letters</li>
          <li><i class="fa fa-graduation-cap"></i>Learn smart skills to crack tough interviews</li>
          <li><i class="fa fa-graduation-cap"></i>Daily sessions with specialists to boost your learning process</li>
        </ul>
        <h4>Seats are Limited. <a class="btn- btn-success">Sign Up</a> Here</h4>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
