<div class="col-12 card-top-margin">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4"
              style="color: #d63031; font-size: 18px; font-weight: 500; display: flex; align-items: center;">
              List of Students
            </div>
            <!-- <div class="col-8" style="text-align:right;">
              <button class="btn btn-primary" (click)="addNewSubTopic()">Add New User</button>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p-table #datatable styleClass="p-datatable-striped" [value]="allUsers" [metaKeySelection]="true"
                [rows]="10" [paginator]="true" [pageLinks]="3" selectionMode="multiple" [autoLayout]="true"
                [responsive]="true" [scrollable]="true" [lazy]="false"
                [globalFilterFields]="['StudentId','StudentFirstName','EmailId','Program','EmailId','FranchiseTitle','Discount','Zipcode']">

                <!-- <p-table #datatable styleClass="p-datatable-striped" [value]="allUsers" [metaKeySelection]="true"
                [rows]="10" [paginator]="true" [pageLinks]="3" selectionMode="multiple" [autoLayout]="true"
                [responsive]="true" [scrollable]="true" [lazy]="false"
                [globalFilterFields]="['StudentId','StudentFirstName','EmailId','Program','EmailId','FranchiseTitle','Discount','Zipcode']"> -->

                <!-- <p-table  [value]=" allUsers" [lazy]="true" (onLazyLoad)="loadUsersData($event)"
                [autoLayout]="true" [responsive]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
                -->
                <ng-template pTemplate="caption">
                  <div class="col-12 table-caption-container">
                    <div class="p-d-flex">
                      <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="datatable.filterGlobal($event.target.value, 'contains')"
                          placeholder="Search keyword" />
                      </span>
                    </div>

                    <!-- <label class="add-padding-right">
                      <input type="radio" name="status" value="Active" (click)="loadUsersData($event,'Active')" checked
                        [(ngModel)]="currentstatus" />
                      <span class="checkmark"></span>Active</label>
                    <label class="">
                      <input type="radio" name="statusc" value="InActive" (click)="loadUsersData($event,'InActive')"
                        [(ngModel)]="currentstatus" />
                      <span class="checkmark"></span>In-Active</label> -->
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>

                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Student ID
                        <p-columnFilter type="text" field="StudentId" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Name
                        <p-columnFilter type="text" field="StudentFirstName" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Email
                        <p-columnFilter type="text" field="EmailId" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Program
                        <p-columnFilter type="text" field="Program" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Franchise
                        <p-columnFilter type="text" field="FranchiseTitle" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Discount
                        <p-columnFilter type="text" field="Discount" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        ZIP code
                        <p-columnFilter type="text" field="Zipcode" display="menu"></p-columnFilter>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Status
                        <!-- <p-columnFilter type="text" field="FirstName" display="menu"></p-columnFilter> -->
                      </div>
                    </th>
                    <th scope="col">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Actions
                        <!-- <p-columnFilter type="text" field="FirstName" display="menu"></p-columnFilter> -->
                      </div>
                    </th>
                    <!-- <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Program</th>
                    <th scope="col">Franchise</th>
                    <th scope="col">Discount</th>
                    <th scope="col">ZIP code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td> {{ rowData?.StudentId }} </td>
                    <td>{{ rowData?.StudentFirstName }} </td>
                    <td> {{ rowData?.EmailId }} </td>
                    <td> {{ rowData?.Program }} </td>
                    <td> {{ rowData?.FranchiseTitle }} </td>
                    <td> {{ rowData?.Discount }} </td>
                    <td> {{ rowData?.Zipcode }} </td>
                    <td> {{ rowData?.IsActive ? 'Active' : 'In-Active' }} </td>
                    <td style="    position: sticky; width: 150px;">
                      <button class="btn btn-sm btn-primary" pTooltip="View" tooltipPosition="top"
                        (click)="viewTopic(rowData)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                      <button pButton pRipple icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="top"
                        class="p-button-success p-mr-2"
                        style="height: 27px; width: 30px; margin-right: 5px; margin-left: 5px;"
                        (click)="editUsers(rowData)"></button>
                      <button class="btn btn-sm btn-danger" pTooltip="Delete" tooltipPosition="top"
                        (click)="removeTopic(rowData)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">No Records.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<ng-template #addNewSubTopicForm let-modal>
  <div class="modal-header report-issue-header form-group">
    <h4 class="modal-title modal-header-title">Update User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="tutorForm">



          <div class="col-12 form-group">
            <label for="EmailId">Email <span class="required-label">*</span> </label>
            <input id="EmailId" name="EmailId" formControlName="EmailId" type="email" class="form-control"
              placeholder="Enter Email"
              [ngClass]="{'is-invalid': tutorForm.get('EmailId').errors && (tutorForm.get('EmailId').touched || tutorForm.get('EmailId').dirty)}">
            <div
              *ngIf="tutorForm.get('EmailId').errors && (tutorForm.get('EmailId').touched || tutorForm.get('EmailId').dirty)"
              class="invalid-feedback">
              <div *ngIf="tutorForm.get('EmailId').errors.required">Email Id is required</div>
              <div *ngIf="tutorForm.get('EmailId').errors.email">Invalid email Id</div>
            </div>
          </div>

          <div class="col-12 form-group">
            <label for="Program">Program <span class="required-label">*</span></label>
            <select disabled class="form-control" formControlName="Program">
              <option [value]="null">--Select--</option>
              <option *ngFor="let program of programs" [value]="program.name">{{program.name}}</option>
            </select>
            <div class="col-12"> </div>
            <div class="col-12"> Cost ${{ isProgramCost }} </div>
            <div class="col-12"> </div>
            <div class="col-12"> Discount applicable from $0- ${{ isProgramCost-1 }} </div>
          </div>


          <div class="col-12 form-group">
            <label for="Discount">Fixed amount discount <span class="required-label">*</span> </label>
            <input id="Discount" name="City" formControlName="Discount" type="text" class="form-control"
              placeholder="Enter Discount"
              [ngClass]="{ 'is-invalid': tutorForm.get('Discount').errors && (tutorForm.get('Discount').touched || tutorForm.get('Discount').dirty) }">
            <div
              *ngIf="tutorForm.get('Discount').errors && (tutorForm.get('Discount').touched || tutorForm.get('Discount').dirty)"
              class="invalid-feedback">
              <div *ngIf="tutorForm.get('Discount').errors.required">Discount is required</div>
            </div>
          </div>

          <hr>
          <div class="co-12 report-issue-btn-container">
            <button class="btn btn-success" style="margin-right: 10px;color:#ffffff;"
              (click)="saveStudentInfo()">Save</button>
            <button class="btn btn-danger" (click)="cancelStudentInfo()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<ng-template #displayTopics let-modal>
  <div class="modal-header report-issue-header">
    <h4 class="modal-title modal-header-title">User Details: {{tutorData?.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12" style="padding: 25px;">
        <div class="row form-group">
          <div class="col-12">
            <span class="label">First Name :</span><span class="value"> {{ tutorData?.StudentFirstName }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Last Name :</span><span class="value"> {{ tutorData?.StudentLastName }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Email :</span><span class="value"> {{ tutorData?.EmailId }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Phone :</span><span class="value"> {{ tutorData?.Contactno }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Grade :</span><span class="value"> {{ tutorData?.Grade }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Parent First Name :</span><span class="value"> {{ tutorData?.ParentFirstName }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Parent Last Name :</span><span class="value"> {{ tutorData?.ParentLastName }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Program :</span><span class="value"> {{ tutorData?.Program }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Franchise :</span><span class="value"> {{ tutorData?.FranchiseTitle }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Zipcode :</span><span class="value"> {{ tutorData?.Zipcode }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">City :</span><span class="value"> {{ tutorData?.City }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">State :</span><span class="value"> {{ tutorData?.State }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">County :</span><span class="value"> {{ tutorData?.CountryName }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Street Address :</span><span class="value"> {{ tutorData?.StreetAddress }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Street Address2 :</span><span class="value"> {{ tutorData?.StreetAddress2 }}</span>
          </div>
        </div>
        <div class="row form-group" *ngIf="tutorData?.OtherExplanation !== null">
          <div class="col-12">
            <span class="label">Other Explanation :</span><span class="value"> {{ tutorData?.OtherExplanation }}</span>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <span class="label">Created Date :</span><span class="value"> {{ tutorData?.CreatedDate | date:'dd/MM/yyyy'
              }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <span class="label">Updated Date :</span><span class="value"> {{ tutorData?.UpdatedDate | date:'dd/MM/yyyy'
              }}</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12" style="text-align: right; margin-bottom:15px;">
        <button class="btn btn-primary" (click)="cancelStudentInfo()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- delete message code starts here -->
<ng-template #displayWarningMessage>
  <div class="container">
    <div class="row">
      <div class="col-12" style="padding: 25px;">
        <div class="row">
          <div class="col-12" style="font-size: 20px; text-align: center;">
            Do you want to remove {{ tutorData?.StudentFirstName }} user?
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12" style="text-align: right; margin-bottom:15px;">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary next-button" (click)="deleteTopic(tutorData)">Ok</button>
          </div>
          <div class="col-6" style="text-align: left;">
            <button class="btn btn-danger cancel-button" (click)="cancelStudentInfo()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- delete message code ends here-->