    <div>
      <!-- Page Header-->
      <header class="section page-header page-header-1 context-dark">
        <div class="page-header-1-figure m-parallax">
          <div class="page-header-1-image m-parallax-image" style="background-image: url(../../../../assets/home/images/bg-image-4.jpg);"></div>
        </div>
   
        <!--<a href="index.html" id="hometab" class="fa fa-home"></a>-->
        <section class="breadcrumbs-custom">
          <div class="breadcrumbs-custom-inner">
            <div class="container">
              <div class="breadcrumbs-custom-main m-parallax-content">
                <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                  <path d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7" stroke-width="1.98" stroke-miterlimit="10"></path>
                </svg>
                <h2 class="breadcrumbs-custom-title text-uppercase">Gallery</h2>
              </div>
            </div>
          </div>
        </section>
      </header>
      <section class="section section-1 bg-gray-100">
       <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-lg-12">
              <h2 class="text-uppercase font-weight-bold text-center text-md-left">Our Gallery</h2>
              <div class="post-corporate-gallery post-corporate-gallery-2" data-lightgallery="group">
              <a class="post-corporate-thumbnail post-corporate-thumbnail-5 post-corporate-thumbnail-custom" href="../../../../assets/home/images/cap-brochure-1.jpg" data-lightgallery="item">
              <img class="post-corporate-thumbnail-image" src="../../../../assets/home/images/cap-brochure-1.jpg" alt="" width="280" height="326"/></a>
              <a class="post-corporate-thumbnail post-corporate-thumbnail-5" href="images/cap-brochure-2.jpg" data-lightgallery="item">
              <img class="post-corporate-thumbnail-image" src="../../../../assets/home/images/cap-brochure-2.jpg" alt="" width="280" height="326"/></a>
              <a class="post-corporate-thumbnail post-corporate-thumbnail-5" href="images/cap-360-1.jpg" data-lightgallery="item">
              <img class="post-corporate-thumbnail-image" src="../../../../assets/home/images/cap-360-1.jpg" alt="" width="280" height="326"/></a>
              <a class="post-corporate-thumbnail post-corporate-thumbnail-5" href="images/cap-360-2.jpg" data-lightgallery="item">
              <img class="post-corporate-thumbnail-image" src="../../../../assets/home/images/cap-360-2.jpg" alt="" width="280" height="326"/></a>
              </div>
            </div>
            </div>
            </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>